
<section class="slider-container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" src="~/Content/images/leaf65.jpg" alt="">
            <img id="slide-2" src="~/Content/images/banner.jpg" alt="">
            <img id="slide-3" src="~/Content/images/hg00.jpg" alt="">
            <img id="slide-4" src="~/Content/images/rx-780-2.jpg" alt="">
        </div>
    </div>
</section>

